@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    font-family: 'Manrope', sans-serif;

}
:root{

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);

}

body{
background-color: var(--Dark-Blue);
display: flex;
justify-content: center;
align-items: center;
height:  100vh;
overflow: hidden;
}

.container{

background-color: var(--Dark-Grayish-Blue);
display:flex;
flex-direction: column;
width: 444px;
height: 205px;
border-radius: 10px;
align-items: center;
justify-content: space-between;
}

.dado{

display: flex;
justify-content: center;
    
}

.botonDado{

background-color: var(--Neon-Green);
display: flex;
align-items: center;
justify-content: center;
border-radius: 35px;
border-color: transparent;
height: 50px;
width: 50px;
position: relative;
top: 25px;
}

.botonDado:hover{

background-color: white;
cursor: pointer;
height:52px;
width: 52px;

}

.titleAdvice{

color: var(--Neon-Green);
font-size: 10px;
letter-spacing: 3px;
padding-top: 28px;
}

.content{

color: var(--Light-Cyan);
text-align: center;
padding:0px 10px 0px 10px;
}

@media screen and (max-width:500px){

.container{

    background-color: var(--Dark-Grayish-Blue);
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 205px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    }

.icono {

    width: 200px;

}

}



